<footer class=" footer">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 align-self-center">
                <div class="text-center">
                    <a class="btn btn-social-icon btn-github" href="http://www.github.com/rabberdabber"> <i
                            class="fa-brands fa-github fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-linkedin"
                        href="http://www.linkedin.com/in/bereket-assefa-251a79178/"><i
                            class="fa-brands fa-linkedin fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-google"
                        href="http://youtube.com//channel/UCY9ko_oY6TA9WIVz_symvqA"><i
                            class="fa-brands fa-youtube fa-lg"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="mailto:bereket@kakao.com"><i
                            class="fa-solid fa-envelope fa-lg"></i></a>
                </div>
            </div>

            <div class="col-12 text-center">
                <div class="col-auto">
                    <p>© Copyright 2022 rabberdabber</p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/assets/vendor/jquery/jquery.min.js"></script>
<script src="/assets/vendor/popper.js/umd/popper.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/vendor/feather-icons/feather.js"></script>
<script>
    feather.replace()
</script>