<header class="page-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href='/main'>
            <i data-feather="home"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {{#if user}}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <form class="nav-item" action="/chats/search" method="POST">
                    <div class=" offset-2 col-10 input-group rounded">
                        <input type="search" class="form-control rounded" name="user" placeholder="Search User" aria-label="Search"
                            aria-describedby="search-addon" />
                        <button class="input-group-text border-0 btn btn-success" submitid="search-addon">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>

                <a class="nav-item nav-link btn btn-dark col-auto ml-auto" href="/users/logout">
                    Log Out <span class="badge badge-light">{{ user.username }}</span></a>
            </div>
           
            {{else}}
            <div class="collapse navbar-collapse" id="navbarLogIn">
                <span class="navbar-text text-dark col"></span>
                <a class="nav-item nav-link btn btn-dark col-auto" href="/users/login">Log in</a>
                <a class="nav-item nav-link btn btn-dark col-auto" href="/users/signup">Sign Up</a>

            </div>
        {{/if}}
    </nav>
</header>