<div class="container"></div>
{{#if message}}
<div id="flash-messages" class="container">
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{{ message }}}
    </div>
</div>
{{/if}}
</div>