body {
    padding: 5px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
    background: #eeeeee;
    padding: 5px;
}

a {
    color: #00B7FF;
}

.chat-container {
    max-width: 1500px;
    max-height: 1300px;
    background: black;
    margin: 50px auto;
    overflow: hidden;
}

.chat-header {
    background: var(--dark-color-a);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
    background: var(--dark-color-b);
    color: #fff;
    background-color: black;
    padding: 5px 5px 60px;
    overflow-y: scroll;
    max-height: 500px;
}

.chat-sidebar a {
    padding: 10px 0;
}

.chat-messages {
    padding: 30px;
    max-height: 500px;
    overflow-y: scroll;
}

.chat-messages .message {
    padding: 10px;
    margin-bottom: 15px;
    background-color: var(--light-color);
    border-radius: 5px;
}

.chat-messages .message .meta {
    font-size: 15px;
    font-weight: bold;
    color: var(--dark-color-b);
    opacity: 0.7;
    margin-bottom: 7px;
}

.message-btn {
    border-style: ridge;
    border-color: white;
}

.chat-messages .message .meta span {
    color: #777;
}

#chat-form i input {
    display: none;
}

.chat-form-container {
    padding: 20px 30px;
    background-color: var(--dark-color-a);
}

.chat-form-container form {
    display: flex;
}

.chat-form-container input[type='text'] {
    font-size: 16px;
    padding: 5px;
    height: 40px;
    flex: 1;
}

.text {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

@media (max-width: 700px) {
    .chat-main {
        display: block;
    }
    .chat-sidebar {
        display: none;
    }
}


html {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    bottom: 0%;
    width: 100%;
    border-top-style: ridge;
    border-color: black;
}


