<form method='POST' action='/chats/destroy/confirm'>
    <input type='hidden' name='user' value='{{chat.user}}'>
    <p>Unsend {{chat.user}}?</p>
    <br /><input type='submit' value='DELETE' />
    <a href="/chats/view?user={{chat.user}}">Cancel</a>
</form>