<!doctype html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/vendor/fontawesome/css/all.css">
  <link rel="stylesheet" href="/assets/vendor/fileinput/fileinput.css">
  <link rel='stylesheet' href='/assets/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  {{> header }}
  {{> message}}
  {{{body}}}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/popper.js/umd/popper.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/vendor/fileinput/fileinput.js"></script>
  <script src="/assets/vendor/feather-icons/feather.js"></script>
  <script src="https://cdn.tiny.cloud/1/oaonxtas8lez8ittbnd6nbh9gjj8r6tw5ocmpuhf8mc1l66p/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    feather.replace()
  </script>

</body>

</html>